
@use 'config/reset';

body {
    background-color: #f5f6fa;
    
}

header{
    background-color: #182C61;
    padding: 16px 0;
    position: sticky;
    top: 0;
    
    nav li{
        display: inline;
        padding: 20px;   
        font-size: 20px; 
    }
    
    nav li a{
        color: #fff;
        font-weight: bold;
        text-decoration: none;
    }
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section{
    padding: 56px 0;
}

.products {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 32.66%);
    column-gap: 1%;
    row-gap: 4%;
    width: 100%;

    .product-item img {
        width: 100%;
        border-radius: 16px;
    }

    .product-button {
        display: block;
        background-color: #44bd32;
        color: #fff;
        text-align: center;
        padding: 8px 0;
        border-radius: 8px;
        margin-top: 10px;
        text-decoration: none;
    
    }

    .product-button:hover {
        background-color: #447f24;
    }
}





@media screen and (max-width: 1023px) {
    .container {
        max-width: 80%;
    }

    .products {
        grid-template-columns: repeat(2, 48.5%);
        column-gap: 3%;
    }
}

@media screen and (max-width: 767px) {
    .products {
        display: block;
    }

    .product-item  {
        margin-bottom: 32px;
    }
}